body{background-color:lightblue}
body header{text-align:center;font-size:14pt}
section header{text-align:left;font-size:12pt}
.normal{font-size:14pt;text-align:justify}
article h1,h2{color:#00f;font-size:14pt;font-weight:700}
ol{list-style-type:upper-roman}
.special{font-size:13pt;color:darkgreen;font-weight:700;font-style:italic}
.center{text-align:center}
table{
    margin-left: auto;
    margin-right: auto;
}
p.watermark{
    font-size:180pt;
    position: absolute;
    z-index: -1;
    color: red;
    opacity: 0.1;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
p.buttons{
    text-align: center;
    color: red;
    
}
img{
    width: 400px;
    height: 400px;
}
h1.s {
    color: red;
    opacity: 0.5;
}

h1.s:hover {
    opacity: 1;
}

p.extInf{
    color: yellow;
}

div.intB{
   color:red;
   margin-left:1em;
   text-align: center;
}

img.drag1{
    width: 50px;
    height: 50px;
    text-align: center;
}
img.drag2{
    width: 60px;
    height: 60px;
    text-align: center;
}

#div1 {
    width:60px;
    height:60px;
    background-color:white;
    padding:10px;
    border:1px solid black;
}
h1.tic{
    text-align:left;
    font-size:14pt;
    color: blue;
}
button.fb{
    width: 5em;  
    height: 3em;
    font-size: 15pt;
    margin-left:29em
}
div.io{
    color: green;
    font-size: 12pt;
    text-align: justify;
}