body{background-color:#add8e6}body header{text-align:center;font-size:14pt}section header{text-align:left;font-size:12pt}p.normal{font-size:14pt;text-align:justify}article h1,h2{color:#00f;font-size:14pt;font-weight:700}ol{list-style-type:upper-roman}

p.passstyle {
    text-indent: 48px;
}

p.passstyle2 {
    text-indent: 48px;
    font-weight: bold;
} 

hr {
    height: 30px; 
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

table.prod td, tr{
    padding: 35px;
}

table.FC td.FC{
    padding: 30px;
    width: 20%;
    text-align: center;
}

table td.sp{
    text-align: center;
}

h1.prod {
    font-size: 30pt;
    text-align: center;
    color: black;
}

h1.prod:hover {
    color:yellow;
}

h1.preg {
    font-size: 16pt;
    text-align: left;
    color: black;
}

h1.FC {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: white;
}

form.FC{
    background-color: white;
}

h1.preg:hover {
    color:gray;
}

p.preg {
    color:green;
}

a:hover {
    background-color: yellow;
    color:red;
    font-size: 150%;
}