
div {
  width: 200px;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 

li li:hover {
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6db+0,309dcf+100;Blue+3D+%234 */
background: rgba(19,94,164,1);
background: -moz-linear-gradient(top, rgba(19,94,164,1) 0%, rgba(17,75,141,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,94,164,1)), color-stop(100%, rgba(17,75,141,1)));
background: -webkit-linear-gradient(top, rgba(19,94,164,1) 0%, rgba(17,75,141,1) 100%);
background: -o-linear-gradient(top, rgba(19,94,164,1) 0%, rgba(17,75,141,1) 100%);
background: -ms-linear-gradient(top, rgba(19,94,164,1) 0%, rgba(17,75,141,1) 100%);
background: linear-gradient(to bottom, rgba(19,94,164,1) 0%, rgba(17,75,141,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135ea4', endColorstr='#114b8d', GradientType=0 );
  
}

h1 {
    font-size: 30px;
    line-height: 35px;
}


body {
background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 26%, rgba(107,184,205,1) 53%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 82%);
background: -webkit-gradient(left top, left bottom, color-stop(26%, rgba(147,206,222,1)), color-stop(53%, rgba(107,184,205,1)), color-stop(76%, rgba(73,165,191,1)), color-stop(82%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 26%, rgba(107,184,205,1) 53%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 82%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 26%, rgba(107,184,205,1) 53%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 82%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 26%, rgba(107,184,205,1) 53%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 82%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 26%, rgba(107,184,205,1) 53%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  
}


table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px; 
border-collapse: 
collapse; border-spacing: 0; 
}

td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */


footer {
height: 200px;
position: relative;
}

p {
  text-align: justify;
}

h{
  font-size: 20px;
  line-height: 25px;
  color:white;
}