body{ background-color: yellow;}body header{text-align:center;font-size:14pt}section header{text-align:left;font-size:12pt}p.normal{font-size:14pt;text-align:justify}article h1,h2{color:#00f;font-size:14pt;font-weight:700}ol{list-style-type:upper-roman}i.special{font-size:13pt;color:green;font-weight:700;font-style:italic}p.center{text-align:center}table{font-family:Arial;font-size:100%;width:100%;border-collapse:collapse;background-color:#90ee90;color:#000}table th,table tr.alt td{color:#000;background-color:orange}table td,th{border:1px solid #000;padding:3px;text-align:justify}table th{font-size:120%;text-align:center;padding-top:5px;padding-bottom:5px}table tr.alt td{text-align:justify}

